services:
  - type: web
    name: whatsapp-bot
    env: node
    region: ohio
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD
        value: "false"
      - key: PUPPETEER_SKIP_DOWNLOAD
        value: "false"
    disk:
      name: chrome-cache
      mountPath: /root/.cache/puppeteer
      sizeGB: 2

